{% extends 'base.html.twig' %}

{% block title %}Registro de usuarios{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Registro de usuarios</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block footer %}
    <footer id="footer-particular">
        <p class="text-footer">Desarrollado con el <ion-icon name="heart"></ion-icon> por Carlos Marino Crovara.</p>
    </footer>
{% endblock %}